* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    box-shadow: 0px 20px 25px -10px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

img#logo {
    height: 50px;
    display: block;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

li {
    padding: 8px;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

a:hover {
    cursor: pointer;
    color: #e26a6a;
    text-decoration: underline;
}

